# services:
#   fastapi:
#     build: .
#     container_name: px-assignment
#     ports:
#       - "8000:8000"

#   prometheus:
#     image: prom/prometheus
#     container_name: prometheus
#     volumes:
#       - ./docker/prometheus.yml:/etc/prometheus/prometheus.yml:ro # :ro is optional, to make it read-only
#     ports:
#       - "9090:9090"

#   grafana:
#     image: grafana/grafana
#     container_name: grafana
#     ports:
#       - "3000:3000"
#     depends_on:
#       - prometheus

services:
  fastapi:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: px-assignment
    ports:
      - "8000:8000"
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - redis
    networks:
      - backend

  redis:
    image: redis:7.2-alpine
    container_name: redis_cache
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data # to make redis data survive container restarts
    networks:
      - backend

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    volumes:
      - ./docker/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    depends_on:
      - fastapi
    networks:
      - backend

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_PASSWORD: admin
    depends_on:
      - prometheus
    networks:
      - backend

volumes:
  redis_data:

networks:
  backend:
